<div class="head">
	<a href="https://highline-cosmetics.de"><img class="logo" alt="Logo" src="media/logo/highline_logo.svg"></a>
	<div id="main-nav" class="stellarnav">
		<f:cObject typoscriptObjectPath="nav"/>
	</div>
</div>