body {
	&.SliderContentAsideRight,
	&.projektaside{
		#ContentAsideRight{
			padding: 0;
			width: 70%;
			
			#content{
				@include grid-column(10);
			}
			
			#asideRight{
				@include grid-column(2);
				
				
				h3{
					font-size: 1.5rem;
				}
				
				.vertrieb{
					.ce-bodytext{
						padding: 1rem;
					}
				}
			}
			
			@include grid-media($bp-tablet-landscape) {
				margin: 0;
				padding: 0 1rem;
				display: block;
				width: 100%;
			
				#content{
					display: block;
					@include grid-column(6);
					.ce-bodytext {
						padding: 0;
					}
				}
				
				#asideRight{
					@include grid-column(2);
					

				}
			}
			
			
			@include grid-media($bp-tablet-portrait) {
				margin: 0;
				padding: 0;
				display: block;
				width: 100%;
			
				#content, #asideRight{
					display: block;
					@include grid-column(8);
					
					.ce-bodytext {
						padding: 0;
					}
				}
			}

		}
	}
	&.SliderContentAsideLeft{
		#ContentAsideLeft{			
			#asideLeft{
				@include grid-column(2);
			}		
			#content{
				@include grid-column(10);
				
			}
		}
	}	
}