

p {
	&.p-twoCol{
		column-count: 1;
		@include grid-media($bp-desktop-small){
			column-count: 2
		}
	}
	
	&.p-threeCol{
		column-count: 1;
		@include grid-media($bp-desktop-small){
			column-count: 3
		}
	}
}

span {
	&.sp-signature {
		color: white;
		background-color: $colSignature;
		padding: 0.15rem;
	}
}