.cc_banner-wrapper {
	height: 4rem;
}

.cc_container {
	background-color: $colSignature !important;
}


.cc_message {
	color: white !important;
}

a.cc_more_info {
	color: white !important;
	font-size: 0.8rem !important;
	&:hover{
		text-decoration: underline !important;
	}
}