.cc-window{
	font: $Copy !important;
	font-size: 1rem !important;
	line-height: normal !important; 
	
	.cc-link {
		font: $Copy !important;
		font-size: 1rem !important;
		line-height: normal !important;
	}
}

.cc-color-override-1534189297{ 
	.cc-btn {
		background-color: $colSignature !important;
	}
}