
/***********************************************************************************
                                   Slider
***********************************************************************************/

#slider{
	.frame-teaser{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		
		header{
			position: absolute;
			text-align: center;
			
			h1{
				font-size: 3rem;
				line-height: 4rem;
				color: white;
				text-transform: uppercase;
				width: 90%;
				margin: 0 auto;
				padding: inherit;
				
				@include grid-media($bp-desktop-small) {
					font-size: 7rem;
					line-height: 8rem;
					text-align: left;
					margin: 0 auto;
					width: 70%;
					padding: 0 15%;
				}
			}
		}
	}
}


/***********************************************************************************
	             			 Infobox Grau Startseite
************************************************************************************/


.frame-infobox{
	position: relative;
	color: $colTypo;
	margin-bottom: 2rem;
	.leftCol,
	.middleCol,
	.rightCol{
		background: $colTypoLight;
		
		.ce-bodytext{
			padding: 0 1rem;
			
			h3,h4{
				padding-top: 1rem;
				font-size: 1.75rem;
				line-height: 2.25rem;
				font-weight: bold;
				text-align: center;
				color: $colSignature;
				@include grid-media($bp-desktop-small){
					font-size: 2rem;
					line-height: 2.25rem;
				}
			}
			
			h4{
				font-size: 1.5rem;
				line-height: 2rem;
				text-align: left;
				text-transform: inherit;
			}
			
			h3 + h4 {
				margin-top: 2rem;
			}
			
			h4 + p {
				margin-top: 1rem;
				margin-bottom: 5rem;
			}
			
			a.stickToBottom{
				position: absolute;
				bottom: 2rem;
			}
		}
	}
}


/***********************************************************************************
	             			 Infobox Grau Startseite
************************************************************************************/

.frame-team{
	background: $colGreyBG;
	width: 100%;
	
	.ce-above{
		
		display: flex;
		flex-direction: column;
		
		.ce-bodytext{
			flex: 1 0 auto;
			
		padding: 0 1rem 0rem;
		display: flex;  
		flex-flow: column;
		height: 100%;
		
		
		p,a{
			font-size: 1rem;
			line-height: 1.4rem;
			flex-grow: 3;
		}
		
		p{
			flex: 2 0 5rem; /*Abstand nach unten definieren*/
			width: 100%;
		}
	
		h3,h4{
			font-size: 1.75rem;
			line-height: 2.25rem;
			font-weight: bold;
			text-align: center;
			color: $colSignature;
			@include grid-media($bp-desktop-small){
				font-size: 2rem;
				line-height: 2.25rem;
			}
		}
		
		h4{
			font-size: 1.5rem;
			line-height: 2rem;
			text-align: left;
			color: $colTypo;
			text-transform: inherit;
		}
		
		h3 + h4 {
			margin-top: 2rem;
		}
		
		h4 + p {
			margin-top: 0rem;
			margin-bottom: 2rem;
		}
		
		.stickToBottom{
			flex: none;
		}
	}
	}
}

/*************************** Team Darstellung *************************************/
.frame-team3Col{
	.threeCol{
		.leftCol,
		.middleCol,
		.rightCol{
			display: flex;
		}
	}
}


/***********************************************************************************
	             			Breite der Bilder in Text
************************************************************************************/


.frame-textImg25{
	@include grid-media($bp-desktop-small){
		/* Bild neben Text*/
		.ce-intext.ce-nowrap{
			display: flex;
			
			&.ce-left,
			&.ce-right{
				.ce-gallery{
					flex-basis: 25%;
				}
				.ce-bodytext{
					flex-basis: 75%;
					margin-right: 1rem;
				}
			}
			
			&.ce-right{
				.ce-bodytext{
					order: 1;
				}
				.ce-gallery{
					order:2;
				}
			}
		}
	}
}

.frame-textImg33{
	@include grid-media($bp-desktop-small){
		/* Bild neben Text*/
		.ce-intext.ce-nowrap{
			
			&.ce-left,
			&.ce-right{
				.ce-gallery{
					flex-basis: 33%;
				}
				.ce-bodytext{
					flex-basis: 66%;
				}
			}
		}
	}
}

.frame-textImg66{
	@include grid-media($bp-desktop-small){
		/* Bild neben Text*/
		.ce-intext.ce-nowrap{
			
			&.ce-left,
			&.ce-right{
				.ce-gallery{
					flex-basis: 66%;
				}
				.ce-bodytext{
					flex-basis: 33%;
				}
			}
		}
	}
}

.frame-img50{
	@include grid-media($bp-desktop-small){
		/* Bild neben Text*/
		img { width: 50%}
	}
}

.frame-img25{
	@include grid-media($bp-desktop-small){
		/* Bild neben Text*/
		img { width: 25%}
	}
}


/***********************************************************************************
	             			Icons für Hotline u.ä.
************************************************************************************/



.frame-icons{
	img {
		width: 50%;
	}
}


/***********************************************************************************
	             			Frame mit Abstand unten
************************************************************************************/




.frame-marginBottom {
	margin-bottom: 2rem;
}

/***********************************************************************************
	             			Frame Preis für Angebote
************************************************************************************/


.frame-price {
	text-align: center;

	h2 {
		padding: 2rem 0;
		font-size: 5rem;
		line-height: 5rem;
		font-weight: bold;
		color: $colSignature;
	}
	
	h3 {
		&.priceSale {
			font-size: 3rem;
			padding: 2rem 0;
			text-decoration: line-through;
		}
	}
	
	p{
		&.priceSaleCopytext{
			color: white;
			background-color: $colSignature;
			padding: 0.5rem;
		}
	}

	@include grid-media($bp-desktop-small) {
		h2 {
			padding: 5rem 0 5rem 1rem;
			font-size: 10rem;
			line-height: 10rem;
		}
		
		h3 {
			&.priceSale {
				font-size: 7rem;
				padding: 3rem 0;
			}
		}
	}
}
