/***********************************************************************************
	             			        Google Maps
************************************************************************************/

#gme-1{
	width: 70%;
	max-width: 1366px;
	margin: 0 auto;
}
