/**************************************************************************/
/********************** Grid-Elements
/*************************************************************************/

.twoCol,
.threeCol,
.fourCol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	h2,
	h3,h4,h5{
		padding-left: 0;
	}
	
	.ce-bodytext{
		padding: 0;
	}
}




/***************
	***** Zweispaltig 50/50 => 2col.html ********************/
.twoColWrapper{
	.twoCol {
		display: block;
		
		@include grid-media($bp-desktop-small){
			display: flex;
			align-items: stretch;
		}
		
		.leftCol,
		.rightCol{
			padding: 0;
			margin: 0;
			
			@include grid-media($bp-desktop-small){
				flex-basis: 48%;
			}
		}
		
		.leftCol {
			margin-right: 1rem;
		}
	}

	.cols3366 {
		.leftCol{
			flex-basis: 33.33333%;
		}
		
		.rightCol{
			flex-basis: 66.66666%;
		}
	}
	
	.cols6633 {
		.leftCol{
			flex-basis: 66.66666%;
		}
		.rightCol{
			flex-basis: 33.33333%;
		}
	}
	.cols2575 {
		.leftCol{
			flex-basis: 25%;
		}
		.rightCol{
			flex-basis: 75%;
		}
	}
		.cols7525 {
		.leftCol{
			flex-basis: 75%;
		}
		.rightCol{
			flex-basis: 25%;
		}
	}
}


/******************** Dreispaltig 33/33/33 => 3col.html ********************/

.threeCol {
	padding: 0;
	display: block;
	li {
		margin: 0;
	}

	@include grid-media($bp-desktop-small){
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}
	
	.ce-bodytext {
		padding: 0;
	}
	
	.leftCol{
		flex-basis: 32%;
		}
	
	.middleCol{
		flex-basis: 32%;
	}
	
	.rightCol {
		flex-basis: 32%;
	}
}


/******************** Vierspaltig 25/25/25/25 => 4col.html ********************/

.fourCol {
	padding: 0;
	min-height:100%;
	display: flex;
	
	.ce-bodytext {
		padding: 0;
	}
	
	
	.outerLeftCol{
		align-items: stretch;
		&> div {
			height: 100%;
			align-items: stretch;
		}
		@include grid-column(3);
	}
	
	.leftCol{
		align-items: stretch;
		&> div {
			height: 100%;
		}
		@include grid-column(3);
	}

	
	
	.rightCol{
		align-items: stretch;
		&> div {
			height: 100%;
		}
		@include grid-column(3);
	}
	
	.outerRightCol {
		align-items: stretch;
		&> div {
			height: 100%;
		}
		@include grid-column(3);
	}
}