/**************************************************************************/
/********************** Grid-Elements
/*************************************************************************/

.twoCol,
.threeCol,
.fourCol {
	margin: 0;
	padding: 0;
	
	h2,
	h3,h4,h5{
		padding-left: 0;
	}
	
	.ce-bodytext{
		padding: 0 5%;
	}
	
	@include grid-media($bp-desktop-small){
		.ce-above{
			.ce-bodytext{
				padding: 0;
			}
		}
	}
}

.gridCollapse{
	@include grid-collapse;
}


/***************
	***** Zweispaltig 50/50 => 2col.html ********************/
.twoColWrapper{
	max-width: 100%;
	overflow-x: hidden;
}
.twoCol {
	margin-bottom: 1rem;
	@include grid-container;
	@include grid-media($bp-tablet-landscape){
		display: flex;
		align-items: stretch;
		h2{
			font-size: 3rem;
			line-height: 3.5rem;
		}
	}
	
	.leftCol,
	.rightCol{
		padding: 0;
		margin: 0 0 1rem 0;
		@include grid-column(12);
		
		@include grid-media($bp-desktop-small){
			@include grid-column(6);
		}
	}
}

.cols3366 {
	.leftCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(4);
		}
	}
	
	.rightCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(8);
		}
	}
}

.cols6633 {
	.leftCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(8);
		}
	}

	.rightCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(4);
		}
	}
}

.cols2575 {
	.leftCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(3);
		}
	}
	
	.rightCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(9);
		}
	}
}

.cols7525 {
	.leftCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(9);
		}
	}
	.rightCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(3);
		}
	}
}


/******************** Dreispaltig 33/33/33 => 3col.html ********************/
.threeColWrapper{
	max-width: 100%;
	overflow-x: hidden;
}	
.threeCol {
	@include grid-container;
	@include grid-media($bp-tablet-landscape){
		display: flex;
		align-items: stretch;
	}
	
	.leftCol,
	.middleCol,
	.rightCol{
		@include grid-column(12);
		margin-bottom: 1rem;
		@include grid-media($bp-desktop-small){
			@include grid-column(4);
		
		}
	}
}

.cols502525{
	.leftCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(6);
		}
	}
	
	.middleCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(3);
		}
	}
	
	.rightCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(3);
		}
	}
}

.cols252550{
	.leftCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(3);
		}
	}
	
	.middleCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(3);
		}
	}
	
	.rightCol{
		@include grid-media($bp-desktop-small){
			@include grid-column(6);
		}
	}
}
		

/******************** Vierspaltig 25/25/25/25 => 4col.html ********************/

.fourColWrapper{
	max-width: 100%;
	overflow-x: hidden;
}
.fourCol {
	@include grid-container;
	@include grid-media($bp-tablet-landscape){
		display: flex;
		align-items: stretch;
	}

	
	.outerLeftCol,
	.leftCol,
	.rightCol,
	.outerRightCol{
		@include grid-column(3);
		margin-bottom: 1rem;
	}
}