.twoCol,
.threeCol{
	display: flex;
	padding: 0.25rem;
		
}

.leftCol,.middleCol,.rightCol{
	flex: 1;
	margin: 0 0.25rem;
	text-align: center;
	
	.logo{
		margin: 0 auto;
		width: 50%;
		height: auto;
		
	}
}


.greyBack {
	background-color: $colTypo;
}