#language_menu{
	*{
		@include Navigation();
		font-size: 1rem;
		line-height: 1rem;
	}
	
	width: 10%;
	z-index: 50000;
	position: absolute;
	left: 1rem;
	top: 0;
	background: white;
	box-shadow: 1px 1px 1px 1px $colGreyBG;
	transition: all .75s ease .15s;
	
	
	#lang_wrap{
		div {
			padding: 0.5rem;
			&:last-child {
				padding-top: 0;
			}
		}
	}
	
	
	img{
		width: 100%;
		height: auto;
	}
	
	@include grid-media($bp-tablet-landscape){
		
		width: 4%;
		left: 0;
		top: 5rem;
		

	}
	
	
	
}