/***********************************************************************************
	             			        Eingene Layouts im CE
************************************************************************************/
#content, #slider{

	/******** .block ********/
	.block {
		display: block;
		overflow: hidden;
	}

	/******** .width70 ********/
	.width70{
		width: auto;
		margin: 0 auto 2rem;
		padding: 0 1rem;
	}
	@include grid-media($bp-tablet-landscape){
		.width70{
			width: 90%;
			padding: 0;
		}
	}
	
		@include grid-media($bp-desktop-small){
		.width70{
			width: 70%;
			padding: 0;
		}
	}
}



/***********************************************************************************
	             			        Claim
************************************************************************************/

.claim {
	padding: 3rem 5%;
	
	@include grid-media($bp-desktop-small){
		padding: 10rem 15%;
	}
	
	H2 {
		font-size: 3rem;
		line-height: 3.5rem;
		padding: 0;
		color: $colSignature;
		background: none;
		

		@include grid-media($bp-desktop-small){
			font-size: 5rem;
			line-height: 6rem;
			text-align: center;
		}
	}
}



/***********************************************************************************
	             			 Oranger Rahmen
************************************************************************************/

.signature {
	padding: 2rem 5%;
	background: $colSignature;
	margin-top: -1rem;
	margin-bottom: 2rem;
	
	@include grid-media($bp-desktop-small){
	padding: 2rem 15%;
	}

	h2,
	p {
		color: white;
		padding: 0;
	}
	
	h2{
		font-size: 5rem;
		line-height: 6rem;
	}
}



