/**************************************************************************/
/********************** Footer Navigation
/*************************************************************************/

footer{
	nav {
	    ul {
			list-style: none;
			position: relative;
			margin: 0 auto;
			text-align: center;
			padding: 0;
			
			li {
				display: inherit;
				margin: 0;
				padding-bottom: 0;
				border-right: 1px solid $colBase;
				
				
				@include grid-media($bp-tablet-portrait){
					display: inline-block;
				}
				
				
				&.copyright {
				}
					
				a {
					display: block;
					padding: 0.25rem 0.5rem;
					margin-right: 0px;
					border: 0;
					background: none;
					color: white

				}
					
				&:last-child,
				&:first-child{
					border-right: none;
				}
			}
		}
	}
}