$bp-mobile-portrait: (
	media: (max-width: 23.4375rem),
	gutter: 1rem,
	columns: 1,
);

$bp-mobile-landscape: (
	media: (max-width: 41.6875rem)
);

$bp-tablet-portrait: (
	media: 42rem,
);

$bp-tablet-landscape: (
	media: 48rem,
);

$bp-desktop-small: (
	media: 65rem,
);