/***********************************************************************************
	                        			Powermail  
************************************************************************************/
div.tx-powermail {
	
	width: 100% !important;
	text-align: left;
	H2 {
		text-align: center;
		color: white;
	}
	
	H3 {
	} 
	
	padding: 0;
	padding-left: 0%;
	box-shadow: none !important;
	background-color: none;
	border: none !important;
	margin: 0 auto 1rem;
}

.powermail_fieldset {
	background: none;
	border: none;
}

.powermail_legend {
	display: none;
}

.powermail_field {
	input{
	float: none;
	width: 100%;
	line-height: 2rem;
	margin: 0 0 2rem;
	padding: 0.25rem;
	}
	textarea {
		width: 100%;
		height: 10em;
		padding: 0.5rem 1rem;
		resize: none;
	}
	
	.powermail_submit,
	.powermail_reset {
		text-align: center;
		color: $colBase;
		border: 1px solid #CCCCCC;
		padding: 1em 0;
		background: $colSignature;
		width: 100%;
		margin-left: 0;
		margin-top: 1rem;
	}
}

.powermail_fieldwrap {
	line-height: 3rem;
}

/*.powermail_label {
	float: left;
	width: 20%;
	font-weight: normal;
	height: 3rem;
}
*/

.powermail_label{
	display: none;
}


.powermail_check_outer {

}

.powermail_check_inner {
	margin-top: 0 !important;
	line-height: 3rem;
	float: left;
	width: 33%;
}


.powermail_field_error_container {
	margin: 0 !important;
}

.powermail_fieldwrap_submit {
	float:left !important;
	width: 100%;
	clear: none !important;
	padding-left: 0 ;
	input {
		width: 100% !important;
	}
}

.powermail_fieldwrap_reset {
	width: 50% !important;
	float: left;
	padding-right: 2rem;
	input {
		width: 100% !important;
	}
}

fieldset {
	padding: 0;
}


fieldset legend.powermail_label.powermail_check_legend {
	width: 100% !important;
	margin: 1rem 0;
}


/******************** Dropdown gestalten **************/



.tx-powermail{
	
	.powermail_fieldwrap_type_select{
		label{
			display: inherit;
		}
	}
	
	
	select {
		appearance: none;
		border: none;
		margin-bottom: 2rem;
		outline: none;
		cursor: pointer;
		width: 100%;
		padding: 0.5rem 0rem 0.5rem 1.5rem;
		background: $colGreyBG;
		color: $colGreyBG2;
		font: italic 300 1.25rem/2rem $copyfont;
		
		&::-ms-expand {
		  display: none;
		}
		
		&:focus::-ms-value {
			background-color: transparent;
		}
				
		option{
			margin-bottom: 0.5rem;
			color: $colGreyBG2;
			padding-left: 0.75rem;
		}
		

	}
	
	.selectbox{
		&:before{
			content: '\f0d7';
			font-family: 'FontAwesome';
			position: absolute;
			padding-top: 0.35rem;
			padding-left: 0.25rem;
			pointer-events: none;
			color: $colGreyBG2;

		}
	}
}

/**************************************************************************/
/********************** Styling der Powermail-Typo
/*************************************************************************/
.tx-powermail {
	
	legend{
		font: 300 1.5rem/2rem $copyfont;
		font-style: italic;
		color: $colSignature;
		margin-bottom: 1rem;
	}
	
	label {
		font: 300 1.25rem/3rem $copyfont;
		color: $colSignature; 
	}
	.powermail_field {
		font: italic 300 1.25rem/2rem $copyfont;
		color: $colSignature;
	}
	
	input,
	textarea {
		font: italic 300 1.25rem/2rem $copyfont;
		color: $colCopyfont;

	}
	
	input [type="checkbox"] {
		font-size: 2rem;
	}
	
	dl,
	dt,
	dd {
		font:  300 1.25rem/2rem $copyfont;
		color: $colSignature; 
	}
	
	dt {
		display: block;
		width: 20%;
		float: left;
	}
}




/**************************************************************************/
/********************** Styling der Fehlermeldungen
/*************************************************************************/

.parsley-errors-list{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		color: $colSignature2;
		margin: -2rem 0 2rem;
	}
}
