/*
 * Stellarnav.js 1.2.0
 * jQuery responsive multi-level dropdown menu designed to do most of the heavy CSS work for you.
 * Copyright (c) 2016 Vinny Moreira - http://vinnymoreira.com
 * Released under the MIT license
 */
/* all nav */


@mixin bottomBorder() {
	border-bottom: 1px solid $colBase;
}

.stellarnav {
	position: relative;
//	transition: all 0.75s ease .15s;
	width: 100%;
	z-index: 9900;
	line-height: normal;
	margin-top: 1rem;
	margin-bottom: 1rem;
	
	ul { 
		margin: 0; 
		padding: 0; 
		text-align: center;
		
		
		/* first level dd */
		ul {
			top: auto;
			width: 15rem;
			position: absolute;
			z-index: 9900;
			text-align: left;
			display: none;
			background: $colGreyBG;
			overflow: visible;
			
			a {
				letter-spacing: 0;
			}
			
			/* second level dd */
			ul { 
				top: 0; /* dd animtion - change to auto to remove */
				left: 15rem;
				box-shadow: -5px 0 6px -5px $colGreyBG;
			}
			
			li {
				border-bottom: 1px solid white;
				
			}		
		}
	}
	
	
	/* main level */
	ul > li {
		display: inline-block;
		padding: 0.5rem 0.75rem;

		@include grid-media($bp-tablet-landscape){
			padding: 0.5rem 0.5rem;
		}
		
		@include grid-media($bp-tablet-portrait){
			display: block;
			padding: 0;
		}
		
		@include grid-media($bp-desktop-small){
			display: inline-block;
			padding: 1rem 1rem;
		//	border-right: 1px solid $colGreyBG;
			&:last-child {
				border-right: none;
			}
		}
	}
	
	
	li {
		list-style: none;
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		line-height: normal;
		vertical-align: middle;
		
		a { 
			@include Navigation();
			display: block;
			box-sizing: border-box;
			transition: all .7s ease-out;
		}
		
		/* first level dd */
		li {
			display: block;
			margin-top: 0;
			
			a {
				//@include bottomBorder();
				font-size: 1.15rem;
				text-transform: inherit;
				letter-spacing: 0;
				line-height: inherit;
			}
			
			&:last-child {
				a {
					border-bottom: none;
				}
			}
			
		}
	}
	
	/* second level dd */
	> ul > li:hover > ul > li:hover > ul { 
		opacity: 1; visibility: visible; top: 0;
	}
	
	
	
	/* .drop-left */
	> ul > li.drop-left > ul {
		right: 0;
	}
	li.drop-left ul ul {
		left: auto;
		right: 15rem;
	}
	
	
	/* light theme */
	&.light { 
		background: rgba(255, 255, 255, 1);
		
		ul ul {
			background: rgba(255, 255, 255, 1);
		}
		
		li a {
			color: #000;
		}
		
		.menu-toggle,
		.call-btn-mobile,
		.location-btn-mobile,
		.close-menu { 
			color: rgba(0, 0, 0, 1);
		}
	}
	
	
	/* dark theme */
	&.dark { 
		background: rgba(0, 0, 0, 1);
		
		ul ul {
			background: rgba(0, 0, 0, 1);
		}
		li a {
			color: #FFF;
		}
		.menu-toggle,
		.call-btn-mobile,
		.location-btn-mobile,
		.close-menu {
			color: rgba(255, 255, 255, 1);
		}
	}
	
	
	
	
	/* sticky nav */
	&.fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 9999;
	}

}


/* only used when 'scrollbarFix' is set to true in the js. This fixes horizontal scrollbar caused by the dd menus that are very long.*/
body.stellarnav-noscroll-x { overflow-x: hidden; }




/* general styling */
.stellarnav {
	li.has-sub > a:after {
		content: '\f107'; font-family: 'FontAwesome'; margin-left: 10px;
	}
	
	li li.has-sub > a:after {
		content: '\f105'; font-family: 'FontAwesome'; margin-left: 10px;
	}

	li.drop-left li.has-sub > a:after {
		float: left; content: '\f0d9'; font-family: 'FontAwesome'; margin-right: 10px;
	}
	&.hide-arrows {
		li.has-sub > a:after,
		li li.has-sub > a:after,
		li.drop-left li.has-sub > a:after {
			display: none;
		}
	}
	.menu-toggle,
	.close-menu,
	.call-btn-mobile,
	.location-btn-mobile {
		display: none;
		text-transform:
		uppercase;
		text-decoration: none;
	}
	.dd-toggle {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		width: 3rem;
		height: 3rem;
		text-align: center;
		z-index: 9999;
		border: 0;
		i {
			position: absolute;
			margin: auto;
			top: 17%;
			left: 0;
			right: 0;
			transition: transform .3s ease-out;
			font-style: normal;
			&:after {
				content: '\f107'; font-family: 'FontAwesome'; margin-left: 10px;
			}
		}
	}
	&.mobile > ul > li > a.dd-toggle {
		padding: 0;
	}
	
	li.call-btn-mobile,
	li.location-btn-mobile {
		display: none;
	}
	
	li.open > a.dd-toggle i {
		transform: rotate(180deg);
	}
}




/* mobile nav */
.stellarnav {
	.menu-toggle, 
	.close-menu { 
		color: $colGold;
		box-sizing: border-box;
		background-color: transparent;
		margin: 1.5rem 0 0;
	}
	
	.menu-toggle{
		font-size: 2rem;
		.fa-bars{
			&:before{
				content: '\f0c9'; font-family: 'FontAwesome'; margin-left: 10px; font-style: normal;
			}
			position: absolute;
			right: 1rem;
			top: 0;
		}
	}
		
	.full {
		width: 100%;
	}
}
		


.stellarnav{
	&.mobile { 
		position: absolute;
		top: 1rem;
		margin: 0;
		
		&.fixed {
			position: static;
		}
		
		ul { 
			position: relative;
			display: none;
			text-align: left;
			background: $colGreyBG;
			margin-top: 1.5rem;
			
			ul {
				position: relative;
				opacity: 1;
				visibility: visible;
				width: auto;
				display: none; 
				transition: none;
				margin: 0;
				
				ul {
					left: auto;
					top: auto;
					box-shadow: none;
					
					a {
						padding-left: 4rem;
						&.dd-toggle{
							padding: 0;
						}
					}
					
					ul {
						a{
							padding-left: 1rem;
							&.dd-toggle{
								padding: 0;
							}
						}
					}
				}
				
				li {
					border-bottom: none;
				}

			}
		}
		
		&.active {
			padding-bottom: 0;
			
			> ul {
				display: block;
			}
		}
		
		> ul > li {
			display: block;
			padding: 0;
			
			> a { 
				padding: 0.5rem 0.5rem 0.5rem 2rem;
				letter-spacing: 0;
			}
		}
		
		li {
			&.drop-left {
				ul {
					ul { 
						right: auto;
					}
				}
			}
			
			a {
			//	@include bottomBorder();
				
				&.dd-toggle {
					border: 0;
				}
			}
			
			li {
				a {
					padding-left: 2rem;
					font-size: 1.25rem;
					
					@include grid-media($bp-tablet-landscape){
						font-size: 1rem;
					}
					
					@include grid-media($bp-tablet-portrait){
						font-size: 1rem;
					}
					
				}
				&:last-child {
					a {
					//	@include bottomBorder();
						
						&.dd-toggle{
							border-bottom: none;
						}
					}
				}
			}
			
			
			
			&.has-sub {
				a {
					padding-right: 0px;
				}
			}
			
			&.call-btn-mobile {
				border-right: 1px solid rgba(255, 255, 255, .1);
				box-sizing: border-box;
			}
			
			&.call-btn-mobile, 
			&.location-btn-mobile {
				display: inline-block;
				width: 50%;
				text-transform: uppercase;
				text-align: center;
				
				&.full { 
					display: block;
					width: 100%;
					text-transform: uppercase;
					border-right: 0;
					text-align: left;
				}
				
				i { 
					margin-right: 5px;
				}
			}
			
			&.has-sub > a:after,
			li.has-sub > a:after, 
			&.drop-left li.has-sub > a:after {
				display: none;
			}
		}
		
		> ul {
			border-top: 1px solid rgba(255, 255, 255, .15);
		}
		
		&.light {
			
			ul {
				background: rgba(255, 255, 255, 1);
			}
			
			li { 
				a { 
					border-bottom: 1px solid rgba(0, 0, 0, .15);
					&.dd-toggle { 
						border: 0;
					}
				}
				&.call-btn-mobile {
					border-right: 1px solid rgba(0, 0, 0, .1);
				}
			}
			
			> ul { border-top: 1px solid rgba(0, 0, 0, .15); }
		}
		
		&.dark {
			ul {
				background: rgba(0, 0, 0, 1);
			}
			
			ul {
				background: rgba(255, 255, 255, .08);
			}
		}
		
		.top {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 9999;
		}
		
		.menu-toggle, 
		.dd-toggle, 
		.close-menu, 
		{
			display: inline-block;
		}
		
		&.right,
		&.left {
			> ul { 
				position: absolute; 
				top: 0;
				bottom: 0; 
				width: 100%; 
				max-width: 280px; 
				overflow-x: hidden; 
				overflow-y: auto; 
				-webkit-overflow-scrolling: touch;
			}
			
			.close-menu {
				display: inline-block; text-align: right;
			}
			
			.location-btn-mobile.half,
			.call-btn-mobile.half, 
			.close-menu.half,
			.location-btn-mobile.third,
			.call-btn-mobile.third,
			.close-menu.third {
				text-align: center;
			}
			
			.menu-toggle.half, 
			.menu-toggle.third { 
				text-align: left;
			}
			
			.close-menu.third span {
				display: none;
			}
		}
		
		.right {
			> ul {
				right: 0;
			}
		}
		
		&.left {
			> ul {
				left: 0;
			}
		}
	}
}


/* Fallback for slow javascript load
@include grid-media($bp-tablet-portrait) {
	.stellarnav { overflow: hidden; display: block; }
	.stellarnav ul { position: relative; display: none; }
}

*/

