/*****************************************************************************
	                           Responsive Video
*****************************************************************************/


.responsive_video {
	position: relative;
/*	padding-bottom: 56.25%;
*/	padding-top: 15px;
	height: 100%;
	overflow: hidden;
	margin-bottom: 2rem;
	
  
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	video {
		width: 100%;
		height: 100%;
	}
}

.responsiveVideoNoPadding{
	.responsive_video {
		padding-bottom: 0;
	}
}
