/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
	margin: 0 0 1rem !important;
	padding: 0 !important;
	background-color: transparent !important;
	position: relative !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	
	/* Hide the slides before the JS is loaded. Avoids image jumping */
	.slides  { 
		img {
			width: 100%; display: block;
		}
		
		.caption-title{
			font: $copyfont;
			font-size: 1.25rem;
			text-transform: uppercase;
			letter-spacing: normal;
			color: $colSignature;
			margin-bottom: 0;
		}
				
		.caption-body {
			color: white;
			padding: 0rem;
			margin-bottom: 0;

			@include grid-media($bp-tablet-portrait){
				font-size: 1.5rem;
			}
			
			p,
			a { 
				margin-bottom: 0;
				font-size: 1rem;
				line-height: normal;
				@include grid-media($bp-tablet-portrait){
					font-size: 1.25rem;
				}
			}
			
			a {
				text-decoration: underline;
			}
		}
		
		.caption-link {
			font-size: 1rem;
			line-height: normal;
			margin: 0;
			text-align: center;
			a {
				font-size: 1rem;
				line-height: normal;
			}
		}
		
		.caption-align-left,
		.caption-align-right{
			left: 2rem;
			display: block;
			overflow: auto;
			.caption-text{
				color: white;
				position: unset;
				background: none;
				bottom: auto;
				padding: 0;
			}
		}
		
		.caption-align-right{
			display: none;
		}
		
		&>	 li{
			display: none;
			-webkit-backface-visibility: hidden;
		}
		
		&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
	}
	
	
	.caption-wrapper{
		display: inherit;
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		max-width: 45%;
		background-color: rgba($colGreyBG,0.9),;
		padding: .75rem .75rem;
	}
}


	
	
	
.flex-viewport {
	max-height: 2000px;
	transition: all 1s ease;
}


/* Korrektur der neuen Styles nach Update */

.tx-ws-flexslider {
	.caption-title {
		font-weight: 300;
	}
	
	.caption-text {
	    position: relative;
	    width: auto;
	    top: auto;
	    left: auto;
	    background: inherit;
	}
	
	.caption-align-left {
		.caption-text{
			left: auto;
		}
	}
}

.tx-ws-flexslider 

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/


.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

