<div class="fourColWrapper">
	<div class="fourCol gridCollapse">
		<div class="outerLeftCol">
			<f:format.raw>
	        	{data.tx_gridelements_view_column_411}
			</f:format.raw>
		</div>
		
		<div class="leftCol">
			<f:format.raw>
	        	{data.tx_gridelements_view_column_412}
			</f:format.raw>
		</div>
		
		<div class="rightCol">
			<f:format.raw>
	        	{data.tx_gridelements_view_column_413}
			</f:format.raw>
		</div>
		
		<div class="outerRightCol">
			<f:format.raw>
	        	{data.tx_gridelements_view_column_414}
			</f:format.raw>
		</div>
	</div>