<div class="threeColWrapper">
	<div class="threeCol gridCollapse {data.flexform_columnType}">
		<div class="leftCol">
			<f:format.raw>
	        	{data.tx_gridelements_view_column_311}
			</f:format.raw>
		</div>
		
		<div class="middleCol">
			<f:format.raw>
	        	{data.tx_gridelements_view_column_312}
			</f:format.raw>
		</div>
		
		<div class="rightCol">
			<f:format.raw>
	        	{data.tx_gridelements_view_column_313}
			</f:format.raw>
		</div>	
	</div>
</div>