<div class="twoColWrapper">
	<div class="twoCol gridCollapse {data.flexform_columnType}">
		<div class="leftCol">
	        <f:format.raw>
	        	{data.tx_gridelements_view_columns.211}
	        </f:format.raw>
		</div>
		
		<div class="rightCol">
			<f:format.raw>
	        	{data.tx_gridelements_view_column_212}
			</f:format.raw>
		</div>	
	</div>
</div>
