@import '_01.variables';

* {
	font: $Copy;
} 

h1,
h2,
h3,
h4,
h5 {
	@include Headline();
	margin:0;
	padding: 0;
	line-height: normal;
}

h1{
	font-size: 2rem;
	text-transform: uppercase;
}

h2{
	font-size: 1.75rem;
	text-transform: uppercase;
}

h3{
	font-size: 1.5rem;
}

h4{
	font-size: 1.25rem;
}

h5{
	font-size: 1.15rem;
}


strong{
	font-weight: bold;
}

p,ul {
	font-size: 1.05rem !important;
	line-height: 1.5rem !important;
	margin: 0;
}


/**************************************************
				Eigene Klassen im CKE 
**************************************************/
p {
	&.priceSaleCopytext{
		color: white;
		background-color: $colSignature;
		padding: 1rem;
		font-style: italic;
	}
	
	&.p-twoCol{
		column-count: 2;
	}
	
	&.p-threeCol{
		column-count: 3;
	}
}	


h2 {
	&.priceHighlight{
		padding: 0;
		color: $colSignature;
		text-align: center;
		margin: 0;
		font-weight: bold;
	}
}

h3 {
	&.priceSale {
		margin: 0;
		padding: 0;
		text-decoration: line-through;
		text-align: center;
	}
}


span {
	&.sp-signature {
		color: white;
		background-color: $colSignature;
		padding: 0.15rem;
	}
}





ul.listChecked {
	list-style: none;
	padding: 0;
	
	li {
		padding-left: 4rem;
		line-height: 3rem;
	}
	
	li:before {
		color: green;
		font-size: 4rem;
		content: "\f00c"; /* FontAwesome Unicode */
		font-family: FontAwesome;
		display: inline-block;
		margin-left: -4rem; /* same as padding-left set on li */
		width: 4rem; /* same as padding-left set on li */
	}
}