/**************************************************************************/
/********************** Definition der Farben
/*************************************************************************/



$colBase:          (white);                        // Definition Basisfarbe Weiß
$colSignature:     (rgba(167, 20, 23, 1));         // Logo Rot 
$colGreyBG:        (rgb(60,55,50));                // Grauer Fond
$colTypo:          (rgb(60,55,50));                // Typografie Antrazit
$colTypoLight:     (rgb(200,200,200));             // Typo hell
$colGold:          (rgba(246, 233, 143, 1));       // Gold

@mixin goldGradient {
  background : -moz-linear-gradient(-3.32% -99.97% -15deg,rgba(246, 233, 143, 1) 8%,rgba(255, 255, 255, 1) 12%,rgba(246, 233, 143, 1) 70%,rgba(252, 248, 226, 1) 75%,rgba(246, 233, 143, 1) 80%,rgba(251, 244, 204, 1) 100%);
  background : -webkit-linear-gradient(-15deg, rgba(246, 233, 143, 1) 8%, rgba(255, 255, 255, 1) 12%, rgba(246, 233, 143, 1) 70%, rgba(252, 248, 226, 1) 75%, rgba(246, 233, 143, 1) 80%, rgba(251, 244, 204, 1) 100%);
  background : -webkit-gradient(linear,-3.32% -99.97% ,123.48% 256.67% ,color-stop(0.08,rgba(246, 233, 143, 1) ),color-stop(0.12,rgba(255, 255, 255, 1) ),color-stop(0.7,rgba(246, 233, 143, 1) ),color-stop(0.75,rgba(252, 248, 226, 1) ),color-stop(0.8,rgba(246, 233, 143, 1) ),color-stop(1,rgba(251, 244, 204, 1) ));
  background : -o-linear-gradient(-15deg, rgba(246, 233, 143, 1) 8%, rgba(255, 255, 255, 1) 12%, rgba(246, 233, 143, 1) 70%, rgba(252, 248, 226, 1) 75%, rgba(246, 233, 143, 1) 80%, rgba(251, 244, 204, 1) 100%);
  background : -ms-linear-gradient(-15deg, rgba(246, 233, 143, 1) 8%, rgba(255, 255, 255, 1) 12%, rgba(246, 233, 143, 1) 70%, rgba(252, 248, 226, 1) 75%, rgba(246, 233, 143, 1) 80%, rgba(251, 244, 204, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6E98F', endColorstr='#FBF4CC' ,GradientType=0)";
  background : linear-gradient(105deg, rgba(246, 233, 143, 1) 8%, rgba(255, 255, 255, 1) 12%, rgba(246, 233, 143, 1) 70%, rgba(252, 248, 226, 1) 75%, rgba(246, 233, 143, 1) 80%, rgba(251, 244, 204, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6E98F',endColorstr='#FBF4CC' , GradientType=1);
}


@mixin redGradient{
  background : -moz-linear-gradient(50% 100% 90deg,rgba(167, 20, 23, 1) 0%,rgba(119, 14, 5, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(167, 20, 23, 1) 0%, rgba(119, 14, 5, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(167, 20, 23, 1) ),color-stop(1,rgba(119, 14, 5, 1) ));
  background : -o-linear-gradient(90deg, rgba(167, 20, 23, 1) 0%, rgba(119, 14, 5, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(167, 20, 23, 1) 0%, rgba(119, 14, 5, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A71417', endColorstr='#770E05' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(167, 20, 23, 1) 0%, rgba(119, 14, 5, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#770E05',endColorstr='#A71417' , GradientType=0);
}




/**************************************************************************/
/********************** Typografie
/*************************************************************************/



/* roboto-condensed-300 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-300italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-300italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://highline-cosmetics.de/media/fonts/roboto-condensed-v16-latin-700italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}



@font-face {
  font-family: 'FontAwesome';
  src: url('../Fonts/fontawesome-webfont.eot?v=#4.7.0');
  src: url('../Fonts/fontawesome-webfont.eot?#iefix&v=#4.7.0') format('embedded-opentype'),
    url('../Fonts/fontawesome-webfont.woff2?v=#4.7.0') format('woff2'),
    url('../Fonts/fontawesome-webfont.woff?v=#4.7.0') format('woff'),
    url('../Fonts/fontawesome-webfont.ttf?v=#4.7.0') format('truetype'),
    url('../Fonts/fontawesome-webfont.svg?v=#4.7.0#fontawesomeregular') format('svg');
//  src: url('../Fonts/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}





$copyfont:('Roboto Condensed', sans_serif, Arial, Verdana, Helvetica);
$headline:('Roboto Condensed', sans_serif, Arial, Verdana, Helvetica);

$Copy:		(300 1.5rem/2.25rem $copyfont);
$Head:		(italic 300 3rem/3rem $headline);
$Navi:		(300 1.15rem $headline);


@mixin Headline(){
	font: $Head;
	text-transform: uppercase;
	font-style: italic;
}

@mixin Navigation {
	font: $Navi;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1rem;
	color: $colBase;
}