

h1,h2,h3,h4,h5 {
	font: $Head;
	color: $colTypo;
}


h2 {
	font-size: 2.75rem;
}


h3 {
	font-size: 2.5rem;
	line-height: 2.5rem;
}

h4 {
	font-size: 2.25rem;
	line-height: 2.25rem;
}


h5 {
	font-size: 2rem;
	line-height: 2rem;
}



p, ul, ol, a{
	font: $Copy
}

a{
	text-decoration: none;
	color: $colTypo;
	
	&:hover {
		text-decoration: underline;
	}
	
	&.call {
		font: $Head;
		color: $colTypo;
		font-size: 2.5rem;
		line-height: 2.5rem;
	}
}

p, ul, l {
	margin-bottom: 1rem;
}


.frame-headCenter {
	padding: 3rem 0;
	margin: 0 auto;
	
	text-align: center;
	text-transform: uppercase;
	
	h2{
		font-style: italic;
	}
	
	h2 + h3 {
		margin-top: 2rem;
	}
}



.center,
.align-center{
	text-align: center;
}

.align-left{
	text-align: left;
}






/* Headline H2 zentriert mit Subheadline */
h2.align-center + h4{
	text-align: center;
}