/**************************************************************************/
/********************** Clearfix für Floats
/*************************************************************************/

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}



/**************************************************************************/
/********************** Basis-Framework
/*************************************************************************/


* {
	margin: 0;
	padding: 0;
}





/* Sticky Footer mit Flexbox */
html, body {
  height: 100%;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

#content {
	flex: 1 0 auto; /* 2 */
	width: 100%;
}

.head,
.footer {
  flex: none; /* 2 */
}


.footer{
	margin: 0 auto;
	padding: 2rem 0;
}
/*------------*/


