.head {
	@include redGradient();
	text-align: center;
	padding-top: 1rem;
	
	@include grid-media($bp-desktop-small){
		padding-top: 2rem;
	}
	
	.logo{
		width: auto;
		height: 5rem;
		@include grid-media($bp-desktop-small) {
			height: 10rem;
		} 
		
	}
}

.goldGradient {
	@include goldGradient();
}


img{
	width: 100%;
	height: auto;
}


.footer {
	width: 100%;
	@include redGradient();
	color: white;
	text-align: center;
}


/*****************************************
	Liste mit Font-Awesome Check
*****************************************/

ul.listChecked {
	list-style: none;
	padding: 0;
	
	li {
		padding-left: 4rem;
		line-height: 3rem;
	}
	
	li:before {
		color: green;
		font-size: 4rem;
		content: "\f00c"; /* FontAwesome Unicode */
		font-family: FontAwesome;
		display: inline-block;
		margin-left: -4rem; /* same as padding-left set on li */
		width: 4rem; /* same as padding-left set on li */
	}
}