<!-- Hier den Namen der Layout-Datei angeben -->
<f:layout name="Highline_layout" />

	<f:section name="content">
		<div id="content">
			<f:render partial="03_highline_content_partial_blank" arguments="{inhalt:slider}" />

			<f:render partial="01_highline_content_partial" arguments="{inhalt:inhalt}" />
		</div>
	</f:section>