<!-- Hier den Namen der Layout-Datei angeben -->
<f:layout name="carcompare_layout" />

	<f:section name="content">
		<div id="mainframe" class="clearfix margintop">			
			<section>			
				<f:render partial="03_carcompare_content_partial_blank" arguments="{inhalt:slider}" />
			</section>

			<section>
				<ul id="ContentAsideRight">
					<li id="content">
						<f:render partial="01_carcompare_content_partial" arguments="{inhalt:inhalt}" />
					</li>
					
					<f:render partial="03_carcompare_content_partial_blank" arguments="{inhalt:asideright}" />
				</ul>
			</section>
		</div>
	</f:section>